.video-camera {
    font-size: 20pt;
    text-align: center;
}
.video-camera.sm {
    width: 128px;
    height: 72px;
}

.video-camera.md {
    width: 200px;
    height: 150px;
}

.video-camera-wrapper {
    display: inline-block;
}

.video-camera-watermark {
    position: absolute;
}

