$participantVideoHeight: 72px;
$presenterVideoHeight: calc(100vh - #{$participantVideoHeight});
$presenterVideoRatio: 4/3;
.mainContainer {
  position: relative;
  height: 100%;
  width: 100%;

  .presenterContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: $participantVideoHeight;
    height: $presenterVideoHeight;
    width: calc((#{$presenterVideoHeight} * #{$presenterVideoRatio}));
    video {
      height: $presenterVideoHeight;
    }
  }
  .presenterContainer.presenter-video-loaded{
    margin-left: calc((100% - (#{$presenterVideoHeight} * #{$presenterVideoRatio})) / 2);
    video{
      border: solid 3px #000;
    }
  }
  .presenterContainer.presenter-video-loaded:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    top: 0px;
    //background-image: url("http://placehold.it/100x100/09f/fff.png");
    background-size: 100px auto;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  .audienceContainer {
    width: 100%;
    position: absolute;
    margin-top: $presenterVideoHeight;
    background-color: #000;
    height: $participantVideoHeight;
  }
}

@media (max-width: 575.98px) {
  .mainContainer {
    .presenterContainer.presenter-video-loaded {
      width: 100vw;
      height: 75vw;
      margin: 0px;
      video {
        width: 100%;
        height: auto;
      }
    }

    .audienceContainer {
      margin-top: calc(100vw * 0.75);
      min-height: calc(100% - 100vw * 0.75);
    }
  }
}
