.row{
    margin-left: 0px;
    margin-right: 0px;
}
.presenterRoomContainer{
    background-color:#000;
    height: 100%;
}
.info {
    background-color: #000;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.numbers {
    color:white;
    margin-left: 20px;
    margin-bottom: 15px;
}

.buttons-list {
    margin-left: 20px;
    list-style: none;
    padding: 0;
}

.actions-list-item {
    list-style: none;
    padding: 0;
    float: left;
}

.actions-list-item ~ .actions-list-item {
    margin-left: 10px;
}

.actions-list-item-button {
    cursor: pointer;
}

